# Pandas y Análisis Exploratorio de Datos

## SERIES

Es la estructura más simple que proporciona Pandas, y se asemeja a una columna en una hoja de cálculo de Excel.

Un objeto Series tiene dos componentes principales: un índice y un vector de datos. Ambos componentes son listas con la misma longitud. El índice contiene valores únicos y, por lo general, ordenados, y se usa para acceder a valores individuales de los datos.

In [ ]:
import pandas as pd

Las Series son secuencias ordenadas de unidimensionales que pueden contener diferentes tipos de valores. En esto se parecen a las listas. De hecho podemos crear Series usando listas.

In [ ]:
serie_1 = pd.Series([3, 7, 9, 8])

In [ ]:
m = ['a', 'b','c']
n= [1,2,3]

In [ ]:
pd.Series(index = m, data = n)

a    1
b    2
c    3
dtype: int64

In [ ]:
pd.Series(['a', 'b','c'], ['m','n','p'])

m    a
n    b
p    c
dtype: object

In [ ]:
pd.Series()

Una gran diferencia que tienen con las listas es que cada elemento en una Serie tiene un índice asociado que no necesariamente es una secuencia de enteros como en las listas. En este aspecto, nuestras Series se parecen a los diccionarios:

In [ ]:
serie_1

0    3
1    7
2    9
3    8
dtype: int64

La columna de la izquierda es nuestro índice, la columna de la derecha son los datos almacenados en la Serie. El texto en la parte inferior es el tipo de dato que tenemos en nuestra Serie.

Los tipos de datos más comunes que podemos encontrar son:

1. int64: Equivalente a int
2. float64: Equivalente a float
3. bool: Equivalente a bool
4. object: Equivalente a str, o indica que hay una mezcla de tipos de datos numéricos y no-numéricos en la Serie

In [ ]:
serie_2 = pd.Series([4, 7, 9, 8], index=[10, 11, 12,19])

serie_2

10    4
11    7
12    9
19    8
dtype: int64

In [ ]:
serie_3 = pd.Series([5, 8, 7, 2], index=['a', 'b', 'c', 'd'])

In [ ]:
datos = {
    "Juan": 45,
    "Pepe": 56,
    "Alfonsina": 12,
    "Jenny": 49,
    "Marco P.": 12
}

serie_4 = pd.Series(datos)

serie_4

Juan         45
Pepe         56
Alfonsina    12
Jenny        49
Marco P.     12
dtype: int64

Al igual que en las listas, podemos acceder a nuestros datos usando el operador de indexación. La diferencia es que en una Serie tenemos que incluir el operador loc para indicarle a la Serie que estamos accesándola usando los nombres de los índices:

In [ ]:
serie_1.loc[2]

9

In [ ]:
serie_2.loc[12]

9

In [ ]:
serie_3.loc['c']

7

In [ ]:
serie_4.loc['Marco P.']

12

**Métodos de Indexación**

Las Series nos permiten muchas más maneras de acceder a sus datos que vuelven a su sistema de indexación sumamente flexible. Veamos algunas de ellas:

In [ ]:
serie = pd.Series(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'])

serie

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
dtype: object

In [ ]:
serie.loc[9]

Podemos pedir más de un elemento al mismo tiempo pasando una lista de índices:

In [ ]:
serie.loc[[0, 1, 2]]

0    a
1    b
2    c
dtype: object

Los elementos serán regresados en el orden en el que los pedimos:

In [ ]:
serie.loc[[5, 8, 2, 4]]

5    f
8    i
2    c
4    e
dtype: object

Podemos pedir "desde el principio hasta el índice x" o "desde el índice x hasta el final" de esta manera:

In [ ]:
serie.loc[:]

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
dtype: object

Podemos pedir incluso rangos:

In [ ]:
serie.loc[3:5]

3    d
4    e
5    f
dtype: object

También podemos usar rangos cuando nuestro índice no es numérico:

In [ ]:
serie_2 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

8

In [ ]:
serie_2.loc['f':'c']

Series([], dtype: int64)

In [ ]:
import numpy as np
x = np.arange(-10,10,1) # Crear un rango de -10 a 9 contando uno a uno
s = pd.Series(index=x, data=x**2) # x**2 devuelve el valor de cada elemento de x elevado al cuadrado
print(s)

-10    100
-9      81
-8      64
-7      49
-6      36
-5      25
-4      16
-3       9
-2       4
-1       1
 0       0
 1       1
 2       4
 3       9
 4      16
 5      25
 6      36
 7      49
 8      64
 9      81
dtype: int64

In [ ]:
smayor64 = s.loc[s>50]
smayor64

-10    100
-9      81
-8      64
 8      64
 9      81
dtype: int64

## DATAFRAMES

Los DataFrames son la segunda estructura de datos de pandas que vamos estar usando constantemente. Un DataFrame está hecho de dos o más Series acomodadas de manera que obtenemos una estructura tabular.

Los DataFrames son bidimensionales, tienen filas y columnas. Cada columna es una Serie que tiene un nombre. Los DataFrames nos ayudan a manejar datos en estructura tabular de manera muy eficiente.

In [ ]:
sel_mex = {
    'Nombre': ['Javier', 'Raul', 'Diego', 'Memo'],
    'Apellido': ['Hernández', 'Jiménez', 'Lainez', 'Ochoa'],
    'Equipo': ['Galaxy', 'Wolves', 'Braga', 'América'],
    'Posición': ['Delantero', 'Delantero', 'Delantero', 'Portero'],
    'Status' : ['R', 'A','A','A']
}

sel_mex

{'Nombre': ['Javier', 'Raul', 'Diego', 'Memo'],
 'Apellido': ['Hernández', 'Jiménez', 'Lainez', 'Ochoa'],
 'Equipo': ['Galaxy', 'Wolves', 'Braga', 'América'],
 'Posición': ['Delantero', 'Delantero', 'Delantero', 'Portero'],
 'Status': ['R', 'A', 'A', 'A']}

In [ ]:
df = pd.DataFrame(sel_mex)

df

   Nombre   Apellido   Equipo   Posición Status
0  Javier  Hernández   Galaxy  Delantero      R
1    Raul    Jiménez   Wolves  Delantero      A
2   Diego     Lainez    Braga  Delantero      A
3    Memo      Ochoa  América    Portero      A

In [ ]:
df = pd.DataFrame(sel_mex, index=['a', 'b', 'c', 'd'])

   Nombre   Apellido   Equipo   Posición Status
a  Javier  Hernández   Galaxy  Delantero      R
b    Raul    Jiménez   Wolves  Delantero      A
c   Diego     Lainez    Braga  Delantero      A
d    Memo      Ochoa  América    Portero      A

In [ ]:
df['Nombre']

a    Javier
b      Raul
c     Diego
d      Memo
Name: Nombre, dtype: object

In [ ]:
serie_nombre = pd.Series(['Javier', 'Raul', 'Diego', 'Memo'], index = ['a', 'b', 'c', 'd'])
serie_nombre

a    Javier
b      Raul
c     Diego
d      Memo
dtype: object

In [ ]:
df['Apellido']

a    Hernández
b      Jiménez
c       Lainez
d        Ochoa
Name: Apellido, dtype: object

In [ ]:
df['Equipo']

a     Galaxy
b     Wolves
c      Braga
d    América
Name: Equipo, dtype: object

In [ ]:
df['Posición']

a    Delantero
b    Delantero
c    Delantero
d      Portero
Name: Posición, dtype: object

También podemos ver más de una columna pasando una lista con los nombres de las columnas que queremos en el orden que las queremos:

In [ ]:
df[['Nombre', 'Posición']]

   Nombre   Posición
a  Javier  Delantero
b    Raul  Delantero
c   Diego  Delantero
d    Memo    Portero

In [ ]:
df.loc['a']

Nombre         Javier
Apellido    Hernández
Equipo         Galaxy
Posición    Delantero
Status              R
Name: a, dtype: object

In [ ]:
df.loc[['c', 'a']]

   Nombre   Apellido  Equipo   Posición Status
c   Diego     Lainez   Braga  Delantero      A
a  Javier  Hernández  Galaxy  Delantero      R

In [ ]:
df.loc['b':]

  Nombre Apellido   Equipo   Posición Status
b   Raul  Jiménez   Wolves  Delantero      A
c  Diego   Lainez    Braga  Delantero      A
d   Memo    Ochoa  América    Portero      A

In [ ]:
df.loc['b':'d']

  Nombre Apellido   Equipo   Posición Status
b   Raul  Jiménez   Wolves  Delantero      A
c  Diego   Lainez    Braga  Delantero      A
d   Memo    Ochoa  América    Portero      A

In [ ]:
df.loc['b', 'Posición']

'Delantero'

In [ ]:
df.loc[['b', 'c', 'd'], ['Nombre', 'Equipo']]

  Nombre   Equipo
b   Raul   Wolves
c  Diego    Braga
d   Memo  América

**Manipulación de Columnas**

In [ ]:
import numpy as np

datos = {
    "Nombre": ["Marco", "Armando ", "Juan", "Jimmy", "Lorenzo", "Saúl" ],
    "Cereal favorito": ["Korn Floks", "Verdurinis", "Zumbaritas", "Diabetukis, Papá", "Fibra Máxima 3000", "Korn Flocks"],
    "Hora del desayuno": ["11:00", "07:30", "07:00", "08:30", "09:30", "12:00"]
}

In [ ]:
datos['Edad'] = [32,45,19,23,56,89]
datos

{'Nombre': ['Marco', 'Armando ', 'Juan', 'Jimmy', 'Lorenzo', 'Saúl'],
 'Cereal favorito': ['Korn Floks',
  'Verdurinis',
  'Zumbaritas',
  'Diabetukis, Papá',
  'Fibra Máxima 3000',
  'Korn Flocks'],
 'Hora del desayuno': ['11:00', '07:30', '07:00', '08:30', '09:30', '12:00'],
 'Edad': [32, 45, 19, 23, 56, 89]}

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(datos)
df

     Nombre    Cereal favorito Hora del desayuno  Edad
0     Marco         Korn Floks             11:00    32
1  Armando          Verdurinis             07:30    45
2      Juan         Zumbaritas             07:00    19
3     Jimmy   Diabetukis, Papá             08:30    23
4   Lorenzo  Fibra Máxima 3000             09:30    56
5      Saúl        Korn Flocks             12:00    89

In [ ]:
datos["correo electronico"] = ["DSda@gmail.com", "dsjdhsj@gmail.com", "xsnds@gmail.com", "dsdsj@gmail.com", "hcjdf@gmail.com", "jdskds@gmail.com"]

In [ ]:
datos["Nombre"] = ["Jose", "Jorge", "David", "Pao", "Mary", "Lore"]

In [ ]:
datos["Fruta con la que acompaña el cereal"] = ['Pera', 'Manzana', 'Plátano', 'Guayaba', 'Pizza', np.NAN]

In [ ]:
df = pd.DataFrame(datos)
df

,Nombre,Cereal favorito,Hora del desayuno,Edad,correo electronico,Fruta con la que acompaña el cereal
0,Jose,Korn Floks,11:00,32,DSda@gmail.com,Pera
1,Jorge,Verdurinis,07:30,45,dsjdhsj@gmail.com,Manzana
2,David,Zumbaritas,07:00,19,xsnds@gmail.com,Plátano
3,Pao,"Diabetukis, Papá",08:30,23,dsdsj@gmail.com,Guayaba
4,Mary,Fibra Máxima 3000,09:30,56,hcjdf@gmail.com,Pizza
5,Lore,Korn Flocks,12:00,89,jdskds@gmail.com,NaN

In [ ]:
df['Equipo Favorito'] = pd.Series(['Chivas', ' America', 'Pumas', 'Cruz Azul', 'Atlas', 'San Luis'])

In [ ]:
df

,Nombre,Cereal favorito,Hora del desayuno,Edad,correo electronico,Fruta con la que acompaña el cereal,Equipo Favorito
0,Jose,Korn Floks,11:00,32,DSda@gmail.com,Pera,Chivas
1,Jorge,Verdurinis,07:30,45,dsjdhsj@gmail.com,Manzana,America
2,David,Zumbaritas,07:00,19,xsnds@gmail.com,Plátano,Pumas
3,Pao,"Diabetukis, Papá",08:30,23,dsdsj@gmail.com,Guayaba,Cruz Azul
4,Mary,Fibra Máxima 3000,09:30,56,hcjdf@gmail.com,Pizza,Atlas
5,Lore,Korn Flocks,12:00,89,jdskds@gmail.com,NaN,San Luis

In [ ]:
datos

{'Nombre': ['Jose', 'Jorge', 'David', 'Pao', 'Mary', 'Lore'],
 'Cereal favorito': ['Korn Floks',
  'Verdurinis',
  'Zumbaritas',
  'Diabetukis, Papá',
  'Fibra Máxima 3000',
  'Korn Flocks'],
 'Hora del desayuno': ['11:00', '07:30', '07:00', '08:30', '09:30', '12:00'],
 'Edad': [32, 45, 19, 23, 56, 89],
 'correo electronico': ['DSda@gmail.com',
  'dsjdhsj@gmail.com',
  'xsnds@gmail.com',
  'dsdsj@gmail.com',
  'hcjdf@gmail.com',
  'jdskds@gmail.com'],
 'Fruta con la que acompaña el cereal': ['Pera',
  'Manzana',
  'Plátano',
  'Guayaba',
  'Pizza',
  nan]}

In [ ]:
df["Fruta con la que acompaña el cereal"] = pd.Series(['Pera', 'Manzana', 'Plátano', 'Guayaba', 'Pizza', 'Guanabana'], index =[5,3,2,1,0,4])

Podemos agregar nuevas columnas a nuestros DataFrames con una sintaxis muy parecida a la de los diccionarios:

In [ ]:
df["Fruta con la que acompaña el cereal"] = pd.Series(['Pera', 'Manzana', 'Plátano', 'Guayaba', 'Pizza'])

Podemos usar la misma sintaxis para asignar una nueva Serie a una columna existente:

In [ ]:
df["Hora del desayuno"] = pd.Series(["10:30", "06:30", "06:00", "07:00", "08:00", "12:00"])
df

,Nombre,Cereal favorito,Hora del desayuno,Edad,correo electronico,Fruta con la que acompaña el cereal,Equipo Favorito
0,Jose,Korn Floks,10:30,32,DSda@gmail.com,Pera,Chivas
1,Jorge,Verdurinis,06:30,45,dsjdhsj@gmail.com,Manzana,America
2,David,Zumbaritas,06:00,19,xsnds@gmail.com,Plátano,Pumas
3,Pao,"Diabetukis, Papá",07:00,23,dsdsj@gmail.com,Guayaba,Cruz Azul
4,Mary,Fibra Máxima 3000,08:00,56,hcjdf@gmail.com,Pizza,Atlas
5,Lore,Korn Flocks,12:00,89,jdskds@gmail.com,NaN,San Luis

También podemos eliminar una columna usando el siguiente método:

Recuerda que estos métodos sólo regresan "vistas". Para que el cambio permanezca, tenemos que asignar el resultado de la operación a la variable df o a alguna otra variable:

In [ ]:
df_dropped = df.drop(columns=['Fruta con la que acompaña el cereal'])

df

,Nombre,Cereal favorito,Hora del desayuno,Edad,correo electronico,Fruta con la que acompaña el cereal,Equipo Favorito
0,Jose,Korn Floks,10:30,32,DSda@gmail.com,Pera,Chivas
1,Jorge,Verdurinis,06:30,45,dsjdhsj@gmail.com,Manzana,America
2,David,Zumbaritas,06:00,19,xsnds@gmail.com,Plátano,Pumas
3,Pao,"Diabetukis, Papá",07:00,23,dsdsj@gmail.com,Guayaba,Cruz Azul
4,Mary,Fibra Máxima 3000,08:00,56,hcjdf@gmail.com,Pizza,Atlas
5,Lore,Korn Flocks,12:00,89,jdskds@gmail.com,NaN,San Luis

In [ ]:
df_dropped

,Nombre,Cereal favorito,Hora del desayuno,Edad,correo electronico,Equipo Favorito
0,Jose,Korn Floks,10:30,32,DSda@gmail.com,Chivas
1,Jorge,Verdurinis,06:30,45,dsjdhsj@gmail.com,America
2,David,Zumbaritas,06:00,19,xsnds@gmail.com,Pumas
3,Pao,"Diabetukis, Papá",07:00,23,dsdsj@gmail.com,Cruz Azul
4,Mary,Fibra Máxima 3000,08:00,56,hcjdf@gmail.com,Atlas
5,Lore,Korn Flocks,12:00,89,jdskds@gmail.com,San Luis

## JSON

Uno de los formatos más comunes en los que vamos a encontrar conjuntos de datos es el formato JSON. Como probablemente ya sabrás, el formato JSON se parece bastante al formato que tienen los diccionarios de Python:

{
   
    "llave_1": "valor_1",
  
    "llave_2": "valor_2",

    "llave_3": "valor_3",

    "llave_4": "valor_4"
    
}

Primero tenemos que importar la librería json que nos ayuda a lidiar con formato JSON en Python:

In [ ]:
import json

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_json('/content/drive/MyDrive/CURSO DS/DATASETS/zomato_reviews-clean.json')
df

,has_online_delivery,price_range,currency,name,cuisines,location.address,location.city,user_rating.rating_text
0,1,3,Rs.,Hauz Khas Social,"Continental, American, Asian, North Indian","9-A & 12, Hauz Khas Village, New Delhi",New Delhi,Very Good
1,0,3,Rs.,Qubitos - The Terrace Cafe,"Thai, European, Mexican, North Indian, Chinese...","C-7, Vishal Enclave, Opposite Metro Pillar 417...",New Delhi,Excellent
2,1,2,Rs.,The Hudson Cafe,"Cafe, Italian, Continental, Chinese","2524, 1st Floor, Hudson Lane, Delhi University...",New Delhi,Very Good
3,0,3,Rs.,Summer House Cafe,"Italian, Continental","1st Floor, DDA Shopping Complex, Aurobindo Pla...",New Delhi,Very Good
4,0,3,Rs.,38 Barracks,"North Indian, Italian, Asian, American","M-38, Outer Circle, Connaught Place, New Delhi",New Delhi,Very Good
...,...,...,...,...,...,...,...,...
1175,0,3,£,The Boozy Cow,"Burger, Grill","17 Frederick Street, New Town, Edinburgh EH2 2EY",Edinburgh,Very Good
1176,0,3,£,La Favorita,Italian,"325-331 Leith Walk, Leith, Edinburgh EH6 8SA",Edinburgh,Excellent
1177,0,3,£,Roseleaf Bar Cafe,"Scottish, Cafe","23-24 Sandport Place, Leith, Edinburgh EH6 6EW",Edinburgh,Excellent
1178,0,3,£,Civerinos,"Pizza, Italian","5 Hunter Square, Royal Mile, Old Town, Edinbur...",Edinburgh,Good
1179,0,3,£,The Hanging Bat,American,"133 Lothian Road, Old Town, Edinburgh EH3 9AD",Edinburgh,Good

Después leemos el archivo JSON usando open:

In [ ]:
f = open('/content/drive/MyDrive/CURSO DS/DATASETS/zomato_reviews-clean.json', 'r')

a ruta (o path) puede ser absoluto o relativo. El 'r' significa que queremos leer el archivo (read).

Después convertimos nuestro archivo JSON en un diccionario de Python:

In [ ]:
json_data = json.load(f)

Después cerramos nuestro archivo:

In [ ]:
f.close()

Y finalmente pasamos el diccionario a pandas.DataFrame.from_dict para crear un DataFrame:

In [ ]:
df = pd.DataFrame.from_dict(json_data)

In [ ]:
df

,has_online_delivery,price_range,currency,name,cuisines,location.address,location.city,user_rating.rating_text
0,1,3,Rs.,Hauz Khas Social,"Continental, American, Asian, North Indian","9-A & 12, Hauz Khas Village, New Delhi",New Delhi,Very Good
1,0,3,Rs.,Qubitos - The Terrace Cafe,"Thai, European, Mexican, North Indian, Chinese...","C-7, Vishal Enclave, Opposite Metro Pillar 417...",New Delhi,Excellent
2,1,2,Rs.,The Hudson Cafe,"Cafe, Italian, Continental, Chinese","2524, 1st Floor, Hudson Lane, Delhi University...",New Delhi,Very Good
3,0,3,Rs.,Summer House Cafe,"Italian, Continental","1st Floor, DDA Shopping Complex, Aurobindo Pla...",New Delhi,Very Good
4,0,3,Rs.,38 Barracks,"North Indian, Italian, Asian, American","M-38, Outer Circle, Connaught Place, New Delhi",New Delhi,Very Good
...,...,...,...,...,...,...,...,...
1175,0,3,£,The Boozy Cow,"Burger, Grill","17 Frederick Street, New Town, Edinburgh EH2 2EY",Edinburgh,Very Good
1176,0,3,£,La Favorita,Italian,"325-331 Leith Walk, Leith, Edinburgh EH6 8SA",Edinburgh,Excellent
1177,0,3,£,Roseleaf Bar Cafe,"Scottish, Cafe","23-24 Sandport Place, Leith, Edinburgh EH6 6EW",Edinburgh,Excellent
1178,0,3,£,Civerinos,"Pizza, Italian","5 Hunter Square, Royal Mile, Old Town, Edinbur...",Edinburgh,Good
1179,0,3,£,The Hanging Bat,American,"133 Lothian Road, Old Town, Edinburgh EH3 9AD",Edinburgh,Good

In [ ]:
df1 = pd.read_excel('/content/drive/MyDrive/CURSO DS/DATASETS/iSpot Pull 8.29.22-9.4.22.xlsx')
df1

,Industry,Parent Brand,Parent Brand (Custom),Brand,Spot,Spot Short Title,Creative Duration,Creative Duration (Custom),Network Type,Network,...,Show Language,Air Date ET,Air Time ET,Est. TV Spend,Media Value,Est. TV Spend + Media Value (Custom),Impressions,Products,Spot Type,All Product Categories
0,Life & Entertainment : Video Streaming Services,"Amazon, Inc.","Amazon, Inc.",Amazon Prime Video,"Amazon Prime Video TV Spot, 'The Lord of the R...",The Lord of the Rings: The Rings of Power,30,:30s,Broadcast,NBC,...,English,2022-08-30,21:28:52,131919.90,0.00,131919.90,4660727,"Prime Video,The Lord of the Rings: The Rings o...",Commercial,"Streaming Series,Streaming Service"
1,Life & Entertainment : Video Streaming Services,"Amazon, Inc.","Amazon, Inc.",Amazon Prime Video,"Amazon Prime Video TV Spot, 'The Lord of the R...",The Lord of the Rings: The Rings of Power,30,:30s,Broadcast,ABC,...,English,2022-08-29,20:23:06,131622.34,0.00,131622.34,4324877,"Prime Video,The Lord of the Rings: The Rings o...",Commercial,"Streaming Series,Streaming Service"
2,Life & Entertainment : Video Streaming Services,Comcast Corporation,Universal,Peacock TV,"Peacock TV TV Spot, 'Biggest Live Events'",Biggest Live Events,30,:30s,Broadcast,ABC,...,English,2022-08-29,21:06:38,131622.34,0.00,131622.34,3706660,"Multi-Title,Peacock",Commercial,"Multi-Title,Streaming Service"
3,Life & Entertainment : Video Streaming Services,"Amazon, Inc.","Amazon, Inc.",Amazon Prime Video,"Amazon Prime Video TV Spot, 'See Where It Take...",See Where It Takes You,30,:30s,Broadcast,ABC,...,English,2022-08-29,21:37:59,131622.34,0.00,131622.34,3381575,"Multi-Title,Prime Video",Commercial,"Multi-Title,Streaming Service"
4,Life & Entertainment : Video Streaming Services,"Amazon, Inc.","Amazon, Inc.",Amazon Prime Video,"Amazon Prime Video TV Spot, 'The Lord of the R...",The Lord of the Rings: The Rings of Power,30,:30s,Broadcast,ABC,...,English,2022-09-03,20:52:51,128266.88,0.00,128266.88,10405450,"Prime Video,The Lord of the Rings: The Rings o...",Commercial,"Streaming Series,Streaming Service"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25884,Life & Entertainment : Video Streaming Services,The Walt Disney Company,Disney,Disney+,"Disney+ Day TV Spot, 'Thor: Love and Thunder'",Disney+ Day: Thor: Love and Thunder,15,:15s,Cable,FX,...,English,2022-09-04,23:53:21,0.00,826.82,826.82,0,"Disney+,Thor: Love and Thunder",Commercial,"Streaming Movie,Streaming Service"
25885,Life & Entertainment : Video Streaming Services,Paramount Global,Paramount Global,Paramount+,"Paramount+ TV Spot, 'The Good Fight'",The Good Fight,15,:15s,Cable,BET,...,English,2022-09-04,23:56:10,0.00,2212.31,2212.31,0,"Paramount+,The Good Fight",Commercial,"Streaming Series,Streaming Service"
25886,Life & Entertainment : Video Streaming Services,Fox Corporation,Fox Corporation,FOX Nation,"FOX Nation TV Spot, 'American Dynasty'",American Dynasty,30,:30s,Cable,FOX Sports 2,...,English,2022-09-04,23:56:12,0.00,1221.57,1221.57,0,"American Dynasty,FOX Nation",Commercial,"Streaming Series,Streaming Service"
25887,Life & Entertainment : Video Streaming Services,Paramount Global,Paramount Global,Paramount+,"Paramount+ Showtime Bundle TV Spot, 'Special P...",Special Pricing: $7.99,20,:15s,Cable,Comedy Central,...,English,2022-09-04,23:57:06,0.00,1597.35,1597.35,0,NaN,Commercial,-
25888,Life & Entertainment : Video Streaming Services,Comcast Corporation,Universal,Peacock TV,"Peacock TV TV Spot, 'Streaming Home of Your Fa...",Streaming Home of Your Favorite NBC and Bravo ...,30,:30s,Cable,E!,...,English,2022-09-04,23:58:35,0.00,1267.30,1267.30,0,NaN,Commercial,-

## Análisis Exploratorio

Podemos saber la forma de nuestro DataFrame accediendo a la propiedad shape. El primer valor es el número de filas, mientras que el segundo es el número de columnas:

In [ ]:
df.shape

Podemos ver un número determinado de filas comenzando desde el principio con head:

In [ ]:
df.head(5)

Podemos ver también las filas del final con tail:

In [ ]:
df.tail(5)

Podemos ver los dtypes de todas nuestras columnas accediendo a esa propiedad:

In [ ]:
from google.colab import files
 
 
uploaded = files.upload()

Saving iSpot Pull 8.29.22-9.4.22.xlsx to iSpot Pull 8.29.22-9.4.22.xlsx