# FUNDAMENTOS DE PYTHON

## VARIABLES EN PYTHON

1. Objetivos:
* Entender cuál es la sintaxis de la asignación de variables en Python
* Aprender la convención de nombramiento de variables

En Python usamos variables para asignarles contenido que queremos utilizar después.

* La sintaxis es:

nombre_de_variable = valor

valor puede ser muchas cosas, que ya iremos aprendiendo poco a poco.

Las siguientes son nombres posibles de variables en Python:

* var_1
* variable_2
* variable_dos
* variable_nueva_3
* esta_es_una_variable_nueva
* variableDos
* EstaEsUnaVariable

Los siguientes son nombres inválidos para una variable de Python:

* 1_2
* 1_variable
* Soy una variable

In [ ]:
var_1 = 35
var_2 = 650
variable_3 = 10
variable_nueva_4 = 20

In [ ]:
marco = "Bienvenidos al curso"
entero = 23
decimal = 34.4343
vf = True

¿Qué sucede si quiero ver en pantalla alguna de las variables que hemos declarado?

In [ ]:
var_1

35

In [ ]:
var_2

650

In [ ]:
marco

'Bienvenidos al curso'

In [ ]:
vf

True

Notemos el error que nos deja la siguiente línea de código

In [ ]:
decimal_nueva

NameError: ignored

## OPERACIONES NÚMERICAS

En Python podemos realizar operaciones matemáticas de una forma muy sencilla. Simplemente tenemos que usar los operadores aritméticos que ya conocemos para hacer operaciones entre las variables que hayamos definido previamente. Los operadores aritméticos en Python son los siguientes:

* Suma  + 
* Multiplicación  * 
* Resta  - 
* Potencia **
* División  / 
* Módulo % (Simplemente es el residuo)

Veremos algunos ejemplos

In [ ]:
suma = 3+3
print(" La suma de 3 + 3 es ",suma)

In [ ]:
resta = 5-19
print(" La resta de 5 - 19 es ", resta)

In [ ]:
producto =  4 * 3
print(" El producto de 4 por 3 es ", producto)

In [ ]:
potencia = 2 ** 4   # Lo que hace es multiplicar 4 veces 2, es decir, 2*2*2*2 = 16
print( " La potencia de 2 elevado a la 4 ", potencia)

In [ ]:
division = 4 / 5
print("La divisón de 4 entre 5 es ", division)

In [ ]:
modulo = 53%8
print("El módulo (residuo) de 53%8 es ", modulo)

De la misma forma podemos empezar a realizar operaciones entre variables declaradas

In [ ]:
v1= 32
v2= 10
v3= -3
v4= 4

In [ ]:
v1-v4

In [ ]:
v3 ** 3

In [ ]:
v1 % v2

Si nos damos cuenta, todas estas operaciones simplemente son vistas, en ningún momento hemos guardado los resultados

In [ ]:
resultado_1 = v1 - v4
resultado_1

In [ ]:
resultado_2= v3 ** 3
resultado_2

In [ ]:
resultado_3 = v1 % v2
resultado_3

También podemos realizar estas operaciones de otra forma

In [ ]:
# Importaremos el módulo NUMPY.Lo entenderemos como un una paqueteria que tiene ciertas funciones que nos serán de utilidad
import numpy as np

In [ ]:
np.absolute(-3)

In [ ]:
np.add(-5,5)

In [ ]:
np.divide(5,2)

In [ ]:
np.multiply(2,3)

In [ ]:
np.power(8,2)

In [ ]:
np.sqrt(9)

In [ ]:
np.sign(3)

## Tipos de Datos en Python

Python tiene diferentes tipos de datos para representar diferentes cosas. Por el momento vamos a aprender los 4 más básicos y esenciales:

* int => números enteros
* float => números decimales
* string => secuencias de caracteres (texto)
* boolean => booleanos (True o False)

In [ ]:
# Este es un número entero

entero = 10

print(entero)
print(type(entero))
print("El número es de tipo: ", type(entero))

In [ ]:
# Este es un número decimal

decimal  = 369.432

print(var_float)
print(type(var_float))
print("El número es de tipo: ", type(entero))

In [ ]:
# Este es un booleano

var_bool = True

print(var_bool)
print(type(var_bool))
print("El número es de tipo: ", type(entero))

In [ ]:
# Esta es una string

var_string = "Soy una string"

print(var_string)
print(type(var_string))
print("El número es de tipo: ", type(entero))

In [ ]:
x = 1j		
x = ["manzana", "platano", "cereza"]		
x = ("manzana", "platano", "cereza")

CASTING DE VARIABLES

Puede haber ocasiones en las que desee especificar un tipo en una variable. Python es un lenguaje orientado a objetos y, como tal, utiliza clases para definir tipos de datos, incluidos sus tipos primitivos.

Por lo tanto, la conversión en python se realiza mediante funciones de constructor:

* int(): construye un número entero a partir de un literal entero, un literal flotante (eliminando todos los decimales) o un literal de cadena (siempre que la cadena represente un número entero)
* float(): construye un número flotante a partir de un literal entero, un literal flotante o un literal de cadena (siempre que la cadena represente un flotante o un entero)
* str(): construye una cadena a partir de una amplia variedad de tipos de datos, incluidas cadenas, literales enteros y literales flotantes

In [ ]:
x = 1
y = 2.8
z = "3"

print(f'El tipo de datos de la variable {x} es: {type(x)}')
print(f'El tipo de datos de la variable {y} es: {type(y)}')
print(f'El tipo de datos de la variable {z} es: {type(z)}')

In [ ]:
x_1 = int(x)
y_1 = int(y)
z_1 = int(z)

print(f'El tipo de datos de la variable {x_1} es: {type(x_1)}')
print(f'El tipo de datos de la variable {y_1} es: {type(y_1)}')
print(f'El tipo de datos de la variable {z_1} es: {type(z_1)}')

In [ ]:
x_2 = float(x)     
y_2 = float(y)  
z_2 = float(z)   

print(f'El tipo de datos de la variable {x_2} es: {type(x_2)}')
print(f'El tipo de datos de la variable {y_2} es: {type(y_2)}')
print(f'El tipo de datos de la variable {z_2} es: {type(z_2)}')

In [ ]:
x_2 = float(x)     
y_2 = float(y)  
z_2 = float(z)   

print(f'El tipo de datos de la variable {x_2} es: {type(x_2)}')
print(f'El tipo de datos de la variable {y_2} es: {type(y_2)}')
print(f'El tipo de datos de la variable {z_2} es: {type(z_2)}')

In [ ]:
x_3 = str(x)     
y_3 = str(y)  
z_3 = str(z)   

print(f'El tipo de datos de la variable {x_3} es: {type(x_3)}')
print(f'El tipo de datos de la variable {y_3} es: {type(y_3)}')
print(f'El tipo de datos de la variable {z_3} es: {type(z_3)}')

## INTERPOLACIÓN DE STRINGS

In [ ]:
nombre = "Marco"
print("Hola, ", nombre)

Formato %

In [ ]:
nombre  = "Marco"
"Hola, %s." % nombre

In [ ]:
nombre  = "Marco"
edad= 25
"Hola, %s." % nombre
"Hola, %s. Tienes %s." % (nombre, edad)

f- strings

Pero a veces resulta necesario o deseable interpolar el valor de la variable dentro de dicha string. Para eso utilizamos las llamadas f-strings. El formato de una f-string es el siguiente:

* f"Esto es texto {esto_es_una_variable} esto es más texto"

Escribiendo una f antes de las comillas le indicamos a Python que lo que pongas dentro de las llaves ({}) será código de Python. En este caso, una variable asignada previamente.

In [ ]:
var_1 = 43
var_2 = 24.3

suma = var_1 + var_2

print(f'La suma de var_1 y var_2 es: {suma}')

In [ ]:
print(f'La suma de {var_1} y {var_2} es: {var_1 + var_2}')

## OPERADORES DE COMPARACIÓN

In [ ]:
n1 = 323
n2 = 212
n3 = 210
n4 = 210

In [ ]:
n1 > n2

In [ ]:
n2 > n1

In [ ]:
n3 == n4

In [ ]:
n3 != n4

In [ ]:
n4 >= n1

In [ ]:
n3 <= n2

## OPERADORES LÓGICOS

El primero es el operador and, que regresa True cuando las dos comparaciones que está uniendo regresan True, y False en todos los demás casos:

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
False and True

In [ ]:
False and False

or es muy parecido a and. También nos sirve para unir dos sentencias de comparación y obtener un nuevo resultado. La diferencia es que or regresa True cuando una de las dos o ambas comparaciones regresen True:

In [ ]:
True or True

In [ ]:
True or False

In [ ]:
False or True

In [ ]:
False or False

not simplemente regresa el booleano opuesto al que recibe

In [ ]:
not(True)

In [ ]:
not(False)